#fideity-button-user:hover{
    filter: brightness(1.5);
    transform:scale(1.05);
    border-radius: 4px;
}

#fideity-button-user:active{
    transform:scale(1);
    border-radius: 4px;
    filter: brightness(0.7);
}

