@charset "UTF-8";
/* Definição de fontes */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;800&family=Ubuntu:wght@400;500;700&display=swap");
#fideity-button-user:hover {
  filter: brightness(1.5);
  transform: scale(1.05);
  border-radius: 4px;
}

#fideity-button-user:active {
  transform: scale(1);
  border-radius: 4px;
  filter: brightness(0.5);
}

/* Variáveis para fontes */
/* Variáveis para tamanho das fontes */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Reset para inputs no Safari iOS */
input[type=button],
input[type=submit],
input[type=reset],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* Importação otimizada */
/* Variáveis para fontes */
/* Variáveis para tamanho das fontes */
.fidelity-content .fidelity-main .fidelity-emphasis, .fidelity-content .fidelity-main .fidelity-extract, .fidelity-content .fidelity-main .fidelity-rewards__end, .fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-img, .fidelity-content .fidelity-main .fidelity-rewards, .fidelity-content .fidelity-main .fidelity-collect-section, .fidelity-content .fidelity-main .fidelity-collect, .fidelity-content .fidelity-main .fidelity-howfunc-section, .fidelity-content .fidelity-header, .fidelity-content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: flex-start;
}

.fidelity-content .fidelity-main .fidelity-gallery, .fidelity-content .fidelity-main .fidelity-useclub__info .fidelity-useclub__steps, .fidelity-content .fidelity-main .fidelity-useclub__info, .fidelity-content .fidelity-main .fidelity-indicate-area, .fidelity-content .fidelity-main .fidelity-indicate__info, .fidelity-content .fidelity-main .fidelity-indicate__grup {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 12px;
  align-items: flex-start;
}

.fidelity-content .fidelity-main .fidelity-gallery__carroussel, .fidelity-content .fidelity-main .fidelity-useclub, .fidelity-content .fidelity-main .fidelity-howfunc-section__cards, .fidelity-content .fidelity-main .fidelity-howfunc, .fidelity-content .fidelity-main .fidelity-indicate-imagem, .fidelity-content .fidelity-main .fidelity-indicate {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
}

.fidelity-content .fidelity-main .fidelity-useclub__info .fidelity-useclub__step, .fidelity-content .fidelity-main .fidelity-indicate-imagens {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
}

.fidelity-content .fidelity-main .fidelity-collect__grup, .fidelity-content .fidelity-main .fidelity-steps {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}

.fidelity-content .fidelity-main .fidelity-rewards__grid {
  width: -webkit-fill-available;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.fidelity-content .fidelity-main .fidelity-emphasis__offers {
  width: -webkit-fill-available;
  display: flex;
  gap: 12px;
  justify-content: center;
  justify-items: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
}

.fidelity-content {
  font-family: "Ubuntu", sans-serif;
  width: -webkit-fill-available;
  background-color: #f0f0f0;
  margin-bottom: 0px !important;
}
.fidelity-content .fidelity-header {
  width: -webkit-fill-available;
  border-radius: 0px;
  padding: 132px 90px;
  gap: 32px !important;
  margin-top: -1px;
  background-image: url(https://i.ibb.co/jPFxXMpT/bck.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fidelity-content .fidelity-header__group {
  text-align: center;
  width: 100%;
  margin: auto;
}
.fidelity-content .fidelity-header__group-title {
  text-align: center;
  color: #ffffff;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 22px;
  margin: 0px;
  font-weight: 600;
  line-height: 50px;
  padding-bottom: 12px;
}
.fidelity-content .fidelity-header__group-text {
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: #ffffff;
  line-height: 22px;
}
.fidelity-content .fidelity-header__consult {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 8px;
  gap: 3px;
  width: -webkit-fill-available;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.fidelity-content .fidelity-header__consult-title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 600;
}
.fidelity-content .fidelity-header__consult-text {
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.fidelity-content .fidelity-header__consult-inputs {
  width: -webkit-fill-available;
  display: flex;
}
.fidelity-content .fidelity-header__consult-inputs--text {
  width: 100%;
  padding: 10px 10px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #b5b5b5;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-header__consult-inputs--button {
  transition: ease-in-out 0.2s;
  border-radius: 0px 4px 4px 0px;
  padding: 10px 12px;
  width: 150px;
  border: none;
  background-color: #9101fe;
  color: #ffffff;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main {
  width: 100%;
  display: flex;
  gap: 64px;
  flex-direction: column;
}
.fidelity-content .fidelity-main .fidelity-steps {
  width: 90%;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.137254902);
  z-index: 1;
  border-radius: 12px;
  margin: -90px auto 32px;
}
.fidelity-content .fidelity-main .fidelity-steps__item {
  padding: 32px 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  text-align: center;
}
.fidelity-content .fidelity-main .fidelity-steps__item-focus {
  padding: 42px 6px;
  background-color: #dc4e79;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  border-radius: 0px 12px 12px 0px;
  color: #ffffff;
  text-align: center;
}
.fidelity-content .fidelity-main .fidelity-steps__img-1 {
  background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.fidelity-content .fidelity-main .fidelity-steps__img-2 {
  background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.fidelity-content .fidelity-main .fidelity-steps__img-3 {
  background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.fidelity-content .fidelity-main .fidelity-steps__text {
  font-size: clamp(1rem, 1.5vw, 1rem);
  margin-top: 22px;
}
.fidelity-content .fidelity-main .fidelity-steps__arrow {
  background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 60px;
  height: 60px;
}
.fidelity-content .fidelity-main .fidelity-steps__equals {
  background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 60px;
  height: 60px;
}
.fidelity-content .fidelity-main .fidelity-indicate {
  width: 85%;
  margin: auto;
}
.fidelity-content .fidelity-main .fidelity-indicate__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  width: 100%;
  font-size: clamp(1.25rem, 3vw, 2rem);
  color: #121212;
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-indicate__text {
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #121212;
}
.fidelity-content .fidelity-main .fidelity-indicate__text__focus {
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-indicate__info-text {
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #121212;
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-indicate__info-subtext {
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #121212;
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-indicate__info-focus {
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #dc4e79;
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-indicate-area {
  background-color: #f5f5f5;
  padding: 22px;
  border-radius: 12px;
  border: 1px solid #eaeaea;
  max-width: 500px;
}
.fidelity-content .fidelity-main .fidelity-indicate-area__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: clamp(1.25rem, 3vw, 2rem);
  color: #121212;
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-indicate-area__text {
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #121212;
}
.fidelity-content .fidelity-main .fidelity-indicate-area-inputs {
  width: 100%;
  display: flex;
}
.fidelity-content .fidelity-main .fidelity-indicate-area-inputs__text {
  width: inherit;
  padding: 10px 10px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #b5b5b5;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-indicate-area-inputs__btn {
  transition: ease-in-out 0.2s;
  border-radius: 0px 4px 4px 0px;
  padding: 6px 22px;
  border: none;
  background-color: #9101fe;
  color: #ffffff;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-indicate-imagem {
  width: 100%;
  margin-bottom: 12px;
}
.fidelity-content .fidelity-main .fidelity-indicate-imagens {
  padding: 12px;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  height: 32px;
  margin: auto;
  text-align: center;
}
.fidelity-content .fidelity-main .fidelity-indicate-imagens__whats {
  background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/lupi-whats-icon-filled.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 22px;
}
.fidelity-content .fidelity-main .fidelity-indicate-imagens__email {
  background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/lupi-email-icon-filled.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10%;
  height: 22px;
}
.fidelity-content .fidelity-main .fidelity-howfunc {
  width: 85%;
  margin: 32px auto;
}
.fidelity-content .fidelity-main .fidelity-howfunc-section__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: #121212;
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-howfunc-section__text {
  color: #121212;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-howfunc-section__focus {
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #121212;
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-howfunc-section__focus2 {
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #dc4e79;
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-howfunc-cardred {
  width: -webkit-fill-available;
  min-height: 100px;
  background-color: #9101fe;
  padding: 32px;
  border-radius: 8px;
}
.fidelity-content .fidelity-main .fidelity-howfunc-cardred__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 600;
  color: #ffffff;
}
.fidelity-content .fidelity-main .fidelity-howfunc-cardred__text {
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #ffffff;
}
.fidelity-content .fidelity-main .fidelity-howfunc-card {
  width: -webkit-fill-available;
  min-height: 100px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 8px;
}
.fidelity-content .fidelity-main .fidelity-howfunc-card__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 600;
  color: #121212;
}
.fidelity-content .fidelity-main .fidelity-howfunc-card__text {
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #121212;
}
.fidelity-content .fidelity-main .fidelity-howfunc-img {
  background-image: url(https://toymania.vtexassets.com/assets/vtex.file-manager-graphql/images/0734f44b-e446-4a32-9510-50340430ee33___af3f5c1ef8f4e5451cbff5ba333a0443.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 570px;
}
.fidelity-content .fidelity-main .fidelity-collect {
  background-color: #9101fe;
  padding: 32px 0px;
  margin: 32px auto;
  width: -webkit-fill-available;
}
.fidelity-content .fidelity-main .fidelity-collect-section {
  padding: 22px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.137254902);
  width: -webkit-fill-available !important;
  margin: 0px 22px !important;
}
.fidelity-content .fidelity-main .fidelity-collect__text-focus {
  text-align: center;
  width: 100%;
  margin: auto;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.fidelity-content .fidelity-main .fidelity-collect__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  width: 100%;
  text-align: center;
  margin: auto;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1.25rem, 3vw, 2rem);
}
.fidelity-content .fidelity-main .fidelity-collect__box {
  width: -webkit-fill-available;
  padding: 0px 32px;
  border-radius: 12px;
  border: 1px solid #b0b0b0;
  text-align: center;
}
.fidelity-content .fidelity-main .fidelity-collect__box-img {
  margin: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
}
.fidelity-content .fidelity-main .fidelity-collect__box-img--1 {
  width: inherit;
  background-image: url(https://i.ibb.co/DH2QbbYx/collect1.png);
}
.fidelity-content .fidelity-main .fidelity-collect__box-img--2 {
  width: inherit;
  background-image: url(https://i.ibb.co/CKTXSLmr/collect2.png);
}
.fidelity-content .fidelity-main .fidelity-collect__box-img--3 {
  width: inherit;
  background-image: url(https://i.ibb.co/fGXWqJ0w/collect3.png);
}
.fidelity-content .fidelity-main .fidelity-collect__box-text {
  text-align: center;
  width: 70%;
  margin: auto;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.fidelity-content .fidelity-main .fidelity-collect__box-description {
  text-align: center;
  width: 70%;
  margin: auto;
  color: #121212;
  font-size: clamp(1rem, 1.5vw, 1rem);
  margin-bottom: 32px;
}
.fidelity-content .fidelity-main .fidelity-rewards {
  width: 85%;
  margin: 32px auto;
}
.fidelity-content .fidelity-main .fidelity-rewards__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  width: 100%;
  text-align: center;
  margin: auto;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1.25rem, 3vw, 2rem);
}
.fidelity-content .fidelity-main .fidelity-rewards__text {
  width: 100%;
  text-align: center;
  margin: auto;
  color: #121212;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.fidelity-content .fidelity-main .fidelity-rewards__focus {
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item {
  background-color: #ffffff;
  padding: 22px;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.037);
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px;
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-img--1 {
  background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-1.svg);
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-img--2 {
  background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-2.png);
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-img--3 {
  background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-3.svg);
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-img--4 {
  background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-4.png);
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-img--5 {
  background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-5.png);
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-img--6 {
  background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-6.png);
  height: 200px;
  margin-bottom: 12px;
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-focus {
  background-color: #dc4e79;
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-focus__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  width: 100%;
  font-weight: 600;
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #ffffff;
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-focus__text {
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 1rem);
  color: #ffffff;
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  width: 100%;
  margin: auto;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-rewards__grid .fidelity-rewards__item-text {
  width: 100%;
  margin: auto;
  color: #121212;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-rewards__end {
  width: 100%;
}
.fidelity-content .fidelity-main .fidelity-rewards__img {
  margin: 32px auto auto auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  background-image: url(https://i.ibb.co/CpgF97t9/reward.png);
}
.fidelity-content .fidelity-main .fidelity-rewards__text {
  margin: auto;
  color: #121212;
  font-size: clamp(1rem, 1.5vw, 1rem);
  max-width: 500px;
  text-align: center;
}
.fidelity-content .fidelity-main .fidelity-useclub {
  width: 85%;
  margin: 32px auto;
}
.fidelity-content .fidelity-main .fidelity-useclub__image {
  margin-right: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 700px;
  background-image: url(https://toymania.vtexassets.com/assets/vtex.file-manager-graphql/images/e061596c-7b87-4d0f-a840-ed76c5988eec___4a776e796c8ed76e5ce301459f939070.png);
}
.fidelity-content .fidelity-main .fidelity-useclub__info-title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1.25rem, 3vw, 2rem);
}
.fidelity-content .fidelity-main .fidelity-useclub__info-text {
  margin: auto;
  color: #121212;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-useclub__info .fidelity-useclub__step {
  background-color: #f5f5f5;
}
.fidelity-content .fidelity-main .fidelity-useclub__info .fidelity-useclub__step-number {
  border-radius: 8px;
  font-size: clamp(1rem, 2vw, 1.25rem);
  background-color: #dc4e79;
  padding: 12px 22px;
  color: #ffffff;
  width: 12px;
  text-align: center;
}
.fidelity-content .fidelity-main .fidelity-useclub__info .fidelity-useclub__step-text {
  color: #121212;
  font-size: clamp(1rem, 1.5vw, 1rem);
  font-weight: 600;
}
.fidelity-content .fidelity-main .fidelity-gallery {
  width: 95%;
  margin: auto;
  margin-bottom: 60px;
}
.fidelity-content .fidelity-main .fidelity-gallery__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  width: 100%;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1.25rem, 3vw, 2rem);
}
.fidelity-content .fidelity-main .fidelity-gallery__carroussel {
  position: relative;
  width: 95%;
  height: 250px;
  overflow: hidden;
  display: flex;
  gap: 20px;
  padding: 20px 0;
  margin: auto;
  margin-bottom: 32px;
}
.fidelity-content .fidelity-main .fidelity-gallery__carroussel:has(:hover) :not(:hover) {
  opacity: 0.8;
  filter: blur(1.5px);
}
.fidelity-content .fidelity-main .fidelity-gallery-img {
  flex: 0 0 calc(33.333% - 40px);
  transition: all 0.5s ease;
  transform-origin: center;
  mix-blend-mode: multiply;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 320px;
  height: 320px;
}
.fidelity-content .fidelity-main .fidelity-gallery__1 {
  background-image: url(https://toymania.vtexassets.com/arquivos/ids/987459-300-300?v=638460336091130000&width=300&height=300&aspect=true);
}
.fidelity-content .fidelity-main .fidelity-gallery__2 {
  background-image: url(https://toymania.vtexassets.com/arquivos/ids/979709-300-300?v=638211612934500000&width=300&height=300&aspect=true);
}
.fidelity-content .fidelity-main .fidelity-gallery__3 {
  background-image: url(https://toymania.vtexassets.com/arquivos/ids/993555-300-300?v=638536247226900000&width=300&height=300&aspect=true);
}
.fidelity-content .fidelity-main .fidelity-gallery__4 {
  background-image: url(https://toymania.vtexassets.com/arquivos/ids/926857-300-300?v=636922316824470000&width=300&height=300&aspect=true);
}
.fidelity-content .fidelity-main .fidelity-gallery__5 {
  background-image: url(https://toymania.vtexassets.com/arquivos/ids/954778-300-300?v=637551366087500000&width=300&height=300&aspect=true);
}
.fidelity-content .fidelity-main .fidelity-gallery__6 {
  background-image: url(https://toymania.vtexassets.com/arquivos/ids/979709-300-300?v=638211612934500000&width=300&height=300&aspect=true);
}
.fidelity-content .fidelity-main .fidelity-gallery__7 {
  background-image: url(https://toymania.vtexassets.com/arquivos/ids/982271-300-300?v=638301246719370000&width=300&height=300&aspect=true);
}
.fidelity-content .fidelity-main .fidelity-gallery__8 {
  background-image: url(https://toymania.vtexassets.com/arquivos/ids/941298-300-300?v=637184164916030000&width=300&height=300&aspect=true);
}
.fidelity-content .fidelity-main .fidelity-extract {
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  width: 85%;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 32px;
}
.fidelity-content .fidelity-main .fidelity-extract__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90px;
  height: 90px;
  background-image: url(https://cdns.fidelizarmais.com/files/production/3b03ece2-f7d3-4410-95d7-ebe989fc12bf/landing-page/magnifier-red.png);
}
.fidelity-content .fidelity-main .fidelity-extract__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1.25rem, 3vw, 2rem);
}
.fidelity-content .fidelity-main .fidelity-extract__text {
  width: 85%;
  text-align: center;
  color: #121212;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.fidelity-content .fidelity-main .fidelity-extract-grup {
  max-width: 632px;
  margin: 0px 32px 32px 32px;
  width: -webkit-fill-available;
  display: flex;
}
.fidelity-content .fidelity-main .fidelity-extract-grup__text {
  width: 100%;
  padding: 10px 10px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #eaeaea;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-extract-grup__btn {
  transition: ease-in-out 0.2s;
  border-radius: 0px 4px 4px 0px;
  padding: 10px 22px;
  border: none;
  background-color: #9101fe;
  color: #ffffff;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-emphasis {
  background-color: #f5f5f5;
  padding: 32px;
  border-radius: 12px;
  width: -webkit-fill-available;
  margin: auto;
}
.fidelity-content .fidelity-main .fidelity-emphasis__title-focus {
  text-align: center;
  width: 100%;
  margin: auto;
  color: #dc4e79;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.fidelity-content .fidelity-main .fidelity-emphasis__title {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  text-align: center;
  width: 100%;
  margin: auto;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1.25rem, 3vw, 2rem);
}
.fidelity-content .fidelity-main .fidelity-emphasis__item {
  width: auto;
  background-color: #ffffff;
  padding: 22px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.037);
  border-radius: 8px;
}
.fidelity-content .fidelity-main .fidelity-emphasis__item-text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  text-align: center;
  color: #121212;
  font-size: clamp(1rem, 1.5vw, 1rem);
  padding-bottom: 12px;
}
.fidelity-content .fidelity-main .fidelity-emphasis__item-text-focus {
  text-align: center;
  width: 95%;
  background-color: #eaeaea;
  padding: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.037);
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  color: #121212;
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.fidelity-content .fidelity-main .fidelity-footer {
  width: 100%;
  margin: auto;
  color: #b5b5b5;
  text-align: center;
  padding: 32px 0px;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.fidelity-content .fidelity-main .fidelity-footer__text {
  text-align: center;
  margin: auto;
}
.fidelity-content .fidelity-main .fidelity-footer__text strong {
  font-weight: 600;
}

@media (max-width: 1110px) {
  .fidelity-header {
    background-image: url(https://i.ibb.co/fTkVm1z/bck2.png) !important;
    padding: 22px !important;
    padding-bottom: 118px !important;
    display: flex !important;
    align-items: start !important;
    flex-direction: column !important;
  }
  .fidelity-header__consult {
    width: -webkit-fill-available;
  }
  .fidelity-steps {
    width: 100% !important;
    margin-right: auto !important;
    gap: 6px !important;
  }
  .fidelity-steps__item {
    width: 30% !important;
    padding: 6px !important;
  }
  .fidelity-steps__item-focus {
    width: 40% !important;
    border-radius: 8px !important;
  }
  .fidelity-steps__arrow, .fidelity-steps__equals {
    width: 60px !important;
    background-size: contain !important;
  }
  .fidelity-indicate {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    width: -webkit-fill-available !important;
    margin: 0px 22px !important;
  }
  .fidelity-indicate-area {
    max-width: 100% !important;
  }
  .fidelity-indicate .fidelity-indicate-imagem {
    display: flex !important;
    flex-direction: column !important;
  }
  .fidelity-collect {
    width: 100% !important;
    margin: 0px !important;
  }
  .fidelity-collect__grup {
    display: flex !important;
    flex-direction: column !important;
  }
  .fidelity-collect__box {
    display: flex !important;
    flex-direction: column !important;
  }
  .fidelity-howfunc {
    width: -webkit-fill-available !important;
    margin: 0px 22px !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column-reverse !important;
    gap: 22px !important;
    justify-content: flex-start !important;
  }
  .fidelity-howfunc-section__cards {
    width: -webkit-fill-available !important;
    display: flex !important;
    align-items: stretch !important;
    flex-direction: column !important;
    gap: 22px !important;
    margin-bottom: 32px !important;
    justify-content: flex-start !important;
  }
  .fidelity-howfunc-cardred {
    min-height: 70px !important;
  }
  .fidelity-howfunc-card {
    min-height: 70px !important;
  }
  .fidelity-howfunc-img {
    height: 400px !important;
    width: 332px !important;
  }
  .fidelity-rewards {
    width: -webkit-fill-available !important;
    margin: 0px 22px !important;
  }
  .fidelity-rewards__grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .fidelity-useclub {
    width: -webkit-fill-available !important;
    margin: 0px 22px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .fidelity-useclub__image {
    margin: 0px !important;
    height: 500px !important;
  }
  .fidelity-extract {
    width: -webkit-fill-available !important;
    margin: 0px 22px !important;
  }
  .fidelity-gallery {
    width: -webkit-fill-available !important;
    margin: 0px 22px !important;
  }
  .fidelity-gallery-img {
    height: 220px !important;
  }
}

/*# sourceMappingURL=style.css.map */
